.formStyling {
  @apply /* mobile:border-double */
  /* mobile:border-4  */
/* mobile:border-r-secondary */
mobile:shadow-xl
  mobile:rounded-xl
  mobile:grid 
  mobile:grid-cols-1 
   mobile:items-center
  mobile:w-[70vw] tablet:w-[50vw] desktop:w-[30vw]
  mobile:h-[60vh] tablet:h-[75vh]   desktop:h-[45vh]

  mobile:m-auto 
  mobile:p-[25px];
}

.inputBox {
  @apply border-solid border-[1px]
  /* mobile:outline */
   mobile:p-[8px] mobile:rounded-lg
    /* outline-primary; */;
}

.btnStyling {
  @apply mobile:border mobile:bg-lightBlue mobile:text-accent mobile:font-semibold 
  mobile:w-[25vw] 
  tablet:w-[20vw]
  desktop:w-[10vw]
  mobile:rounded-lg mobile:p-2
  hover:bg-darkBlue;
}
