.formStyling {
  @apply mobile:border-double
  mobile:border-4 
mobile:border-r-secondary
  mobile:rounded-xl
  mobile:grid mobile:grid-cols-1 mobile:justify-around mobile:items-center
  mobile:w-[30vw] mobile:h-[50vh]
  mobile:m-auto mobile:p-[20px];
}

.inputBox {
  @apply border-solid border-[1px]
  /* mobile:outline */
   mobile:p-[8px] mobile:rounded-lg
    /* outline-primary; */;
}

.btnStyling {
  @apply mobile:border mobile:bg-primary mobile:text-accent mobile:font-semibold mobile:w-[10vw] mobile:rounded-lg mobile:p-2;
}
